WCFTest/Service References/ServiceAPI/ServiceAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GLTService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GLTService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1926/ServiceAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Galant.DataEntity" />
  <xs:complexType name="DetailBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galant.DataEntity" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfBaseData" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailBase" nillable="true" type="tns:DetailBase" />
</xs:schema>