GLTWarter/Service References/GLTService/ServiceAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Galant.DataEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Galant.DataEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="WCFErrorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCFFaultCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WCFFaultString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseData" nillable="true" type="tns:BaseData" />
  <xs:complexType name="EventLog">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AtStation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EventData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventId" type="xs:int" />
          <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InsertTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaperId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationEntity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventLog" nillable="true" type="tns:EventLog" />
  <xs:complexType name="Paper">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Paper" nillable="true" type="tns:Paper" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RoleType" type="tns:RoleType" />
          <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Entity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneralManager" />
      <xs:enumeration value="OperationManager" />
      <xs:enumeration value="FinanceManager" />
      <xs:enumeration value="Finance" />
      <xs:enumeration value="SortingManager" />
      <xs:enumeration value="StationManager" />
      <xs:enumeration value="CustomerSupportManager" />
      <xs:enumeration value="CustomerSupport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleType" nillable="true" type="tns:RoleType" />
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbleFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="AddressChild" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressFamily" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhoneOne" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhoneTwo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EntityType" type="tns:EntityType" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordConfirm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayType" nillable="true" type="tns:PayType" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
          <xs:element minOccurs="0" name="RountStation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StoreLog" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Headquarter" />
      <xs:enumeration value="Station" />
      <xs:enumeration value="Staff" />
      <xs:enumeration value="Client" />
      <xs:enumeration value="Individual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:simpleType name="PayType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AtTime" />
      <xs:enumeration value="Before" />
      <xs:enumeration value="After" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PayType" nillable="true" type="tns:PayType" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Route">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
  <xs:complexType name="AppStatusCach">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfEntity" />
          <xs:element minOccurs="0" name="StaffCurrent" nillable="true" type="tns:Entity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppStatusCach" nillable="true" type="tns:AppStatusCach" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
  <xs:complexType name="Package">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
</xs:schema>