GLTWarter/Service References/GLTService/ServiceAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Galant.DataEntity.Search" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Galant.DataEntity.Search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1926/ServiceAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galant.DataEntity" />
  <xs:complexType name="SearchEntityCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Galant.DataEntity" base="q1:BaseData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsStop" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="q1:EntityType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchEntityCondition" nillable="true" type="tns:SearchEntityCondition" />
</xs:schema>